<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senior-konnect || commercial-events</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/commercial_events.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
             .navbar-brand {
            margin-left: 6.6% !important;
        }

        .navbar-nav {
            position: relative ;
            left: 54.1% !important;
        }
        .active {
            color: #225C7B !important;
            text-decoration: underline !important;
            text-underline-offset: 17px;
            text-decoration-thickness: 4px !important;
        }
        .camera{
    background: #414040 0% 0% no-repeat padding-box;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 2%;
    margin-top: 2% !important;
    color: #fff;
    padding: 12px 13px;
    font-size: 22px !important;
    display: inline-block;
    float: right !important;
}
        .btn:focus {
            box-shadow: none !important;
        }
        @media (min-width:992px) and (max-width:1399px) {
            .navbar-brand {
                margin-left: 7.8% !important;
            }

            .navbar-nav {
                position: relative;
                left: 45.1% !important;
            }

            .space-top2 {
                margin-top: 0 !important;
            }

        }
    </style>

</head>

<body>

    <!-- heder -->
    <%- include('include/navbar.ejs') %>
        <!-- header -->

   <!-- Hero section start -->
   <%- include('include/hero3.ejs') %>
   <!-- Hero section end -->
        <!-- Activity navbar start -->
        <div class="container">

            <!-- Activity navbar start -->
            <div class="acctivity_navbar">

                <ul class="activity_nav">
                    <li><a href="/commercial_about">About</a></li>
                    <li><a href="/commercial_analitics">Analitics</a></li>
                    <li><a href="/commercial_discussion">Discussion</a></li>
                    <li><a href="/commercial_benefits">Benefits</a></li>
                    <li><a href="/commercial_appriciation">Appriciation</a></li>
                    <li><a href="/commercial_followers">Followers</a></li>
                    <li><a href="/commercial_pillars">pillars</a></li>
                    <li><a class="active" href="/commercial_events">Events</a></li>
                    <li class="nav_more" onclick="activity_more_open()"><a><i class="bi bi-three-dots"></i></a></li>
                </ul>
            </div>

            <!-- Activity navbar end -->
        </div>
        <!-- Activity navbar end -->

        <i class="fa-solid fa-people-group  support"></i>

        <section class="container">
            <div class="row">
                <!-- left section start -->
                <div class="col-lg-8 space-top1">

                    <!-- Public service tab start -->
                    <div id="public-serv">
                        <!-- <h2 class="sec-heading">My Hub</h2> -->
                        <div class="myhub-sec">



                            <div class="community-pillar-tab">




                                <div class="row" style="padding: 0 20px;">
                                    <div class="margin-box">
                                        <span class="community2">Events</span>
                                        <p class="community-new" data-toggle="modal"
                                            data-target="#exampleModalCenterCreateCommunities2234"> Create Event <span>
                                                <i class="bi bi-plus-lg"></i></span></p>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class=" event_box">
                                            <div class="row row_margin">




                                                <!-- events display -->
                                                <% if(events.length>0){ events.forEach(function(e, index) { %>                                                    
                                                    <% if(e.user == myid ){%>
                                                        <div class="col-lg-6">
                                                            <a href="<%= e._id %>" style="text-decoration:none">
                                                                <div class="event_inner_box">
                                                                    <div class="event_img img-fluid">
                                                                        <img src="<%=e.event_image %>"
                                                                            alt="">
                                                                    </div>                                                                   

                                                                    <div class="row row_margin">
                                                                        <div class="col-3">
                                                                            <p class="event_p">
                                                                                <%=e.end_date %>
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-9 ">
                                                                            <p class="event_p2">
                                                                                <%=e.event_name %>
                                                                            </p>
                                                                            <p class="event_p3"><i
                                                                                    class="bi bi-geo-alt"></i>
                                                                                &nbsp; 2972 Westheimer
                                                                                Rd.
                                                                                Santa Ana,
                                                                                Illinois 85486 </p>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>

                                                        <%} %>

                                                        <% })} %>

                                            </div>



                                        </div>





                                    </div>


                                </div>
                                <br>

                            </div>
                        </div>
                    </div>
                    <!-- Public service tab end -->






                </div>
                <!-- left section end -->

                <!-- right section start -->
                <%- include('include/commercial_right_section.ejs') %>
                    <!-- right section end -->
            </div>

        </section>
        <br>

        <!-- main -->

        <!-- main -->
        <!-- create communities popup end -->
        <div class="modal fade" id="exampleModalCenterCreateCommunities223" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pop1-header">
                        <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Invite To Senior Konnect </h5>
                        <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        <form>

                            <div class="row">
                                <div class="form-group col-5">
                                    <p class="pop1-p">Email Address</p>

                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Email Address">

                                </div>
                                <div class="col-2 OR">
                                    <span>OR</span>


                                </div>


                                <div class="form-group col-5">
                                    <p class="pop1-p">Mobile Number</p>

                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Mobile Number">

                                </div>


                            </div>


                            <div class="form-group">
                                <p class="pop1-p">Description*</p>



                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here"
                                        id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Enter Description </label>
                                </div>

                            </div>
                            <div class="modal-footer pop1-foot">

                                <button type="button" class="btn btn-secondary pop1-btn2" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary pop1-btn1">Save</button>
        
                            </div>


                        </form>



                    </div>
                 
                </div>
            </div>
        </div>




        <!-- ==================================================================================================================== -->
        <!-- profile btn popup start-->
        <div id="profile_opn">
            <div class="profile-btn-menu">
                <div class="profile-btn-menu-r1">
                    <div>
                        <img src="assets/img/profile/profile.png" alt="">
                    </div>
                    <div>
                        <h2>Aarav Sexena</h2>
                        <p>Sr. UI/UX Designer</p>
                    </div>
                    <button type="button" class="btn-close" onclick="profile_close()"></button>
                </div>
                <hr class="hr1">
                <div class="profile-btn-menu-r2">
                    <h2>Account</h2>
                    <p><i class="bi bi-gear"></i> Settings & Privacy</p>
                    <p><i class="bi bi-yin-yang"></i> About</p>
                    <p><i class="bi bi-question-circle"> </i>Help</p>
                    <p><i class="bi bi-translate"></i> Language</p>
                </div>
                <hr class="hr2">
                <div class="profile-btn-menu-r3">
                    <h2>Manage</h2>
                    <p><i class="bi bi-file-richtext"></i> <span>NGO:</span> Posts & Initiative</p>
                    <p><i class="bi bi-hearts"></i>Smile India Foundation</p>
                    <p><i class="fa-solid fa-people-group"></i><span>Commercial:</span> Real Estate</p>
                </div>
                <hr class="hr3">
                <div class="profile-btn-menu-r3">
                    <p><a href="login.html"><i class="bi bi-box-arrow-right"></i> Logout</a></p>
                </div>
            </div>

        </div>
        <!-- profile btn popup end-->

        <!-- search btn popup start -->
        <div class="search-popup">
            <h5 onclick="search_popup_close()">Clear</h5>
            <h4>Recent</h4>
            <p class="s-p-h-r"><i class="bi bi-clock"></i> UI Designer</p>
            <p class="s-p-h-r"><i class="bi bi-clock"></i> UI Designer</p>
            <p class="s-p-h-r"><i class="bi bi-clock"></i> Web Developer</p>
            <hr>
            <h4>Try Searching For</h4>
            <p class="s-p-h-r"><i class="bi bi-search"></i> UI UX</p>
            <p class="s-p-h-r"><i class="bi bi-search"></i> Sales</p>
            <p class="s-p-h-r"><i class="bi bi-search"></i> Graphic Designer</p>
            <p class="s-p-h-r"><i class="bi bi-search"></i> CEO</p>
        </div>


        <div class="activity-more-popup" id="more-menu">


            <a href="/commercial_media" style="text-decoration:none;color: #323232;">
                <p>Media</p>
            </a>
            <a href="/commercial_feedback" style="text-decoration:none;color: #323232;">
                <p>Feedback</p>
            </a>
        </div>

        <!-- create communities popup start -->
        <div class="modal fade" id="exampleModalCenterCreateCommunities2234" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pop1-header">
                        <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Create Event </h5>
                        <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- enctype="multipart/form-data" -->
                        <form action="/create_events" method="post" enctype="multipart/form-data">

                           
                            <div class="form-group">
                                <div class="pop-img back-pop-img">
                                    <img id="pop_background" src="assets/img/popupvector.png" alt="your image"
                                        style=" width: 100%; height: 100%; border-radius: 20px;" />
                                </div>
    
                                <p class="pop1-p">Upload A Photo</p>
    
                                <div class="ABC">
                                    <input type="file" name="event_image" class="form-control-file imgchoose"
                                        id="exampleFormControlFile11" onchange="readURL_c(this);" required>
                                </div>
                            </div>

                            <div class="form-group" style="margin-top:4%">
                                <p class="pop1-p">Event Name*</p>

                                <input type="text" name="event_name" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Event Name*" required>

                            </div>
                            <div class="form-group">
                                <p class="pop1-p">Timezone</p>

                                <select name="time_zone" class="form-select form-select-lg mb-3"
                                    aria-label=".form-select-lg example" id="ddlProducts">

                                    <option selected class="please-select">Please select Timezone</option>
                                    <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                                    <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                                    <option value="-10:00">(GMT -10:00) Hawaii</option>
                                    <option value="-09:50">(GMT -9:30) Taiohae</option>
                                    <option value="-09:00">(GMT -9:00) Alaska</option>
                                    <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                                    <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                                    <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City
                                    </option>
                                    <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima
                                    </option>
                                    <option value="-04:50">(GMT -4:30) Caracas</option>
                                    <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                                    <option value="-03:50">(GMT -3:30) Newfoundland</option>
                                    <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                                    <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                                    <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                                    <option value="+00:00" selected="selected">(GMT) Western Europe Time, London,
                                        Lisbon,
                                        Casablanca</option>
                                    <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                                    <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                                    <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                                    <option value="+03:50">(GMT +3:30) Tehran</option>
                                    <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                                    <option value="+04:50">(GMT +4:30) Kabul</option>
                                    <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent
                                    </option>
                                    <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                                    <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                                    <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                                    <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                                    <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                                    <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                                    <option value="+08:75">(GMT +8:45) Eucla</option>
                                    <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                                    <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                                    <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                                    <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                                    <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                                    <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                                    <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                                    <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                                    <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                                    <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                                    <!-- <option value="1">Animal Welfare</option>
                      
                        <option value="3">Veteran Support</option> -->
                                </select>

                            </div>

                            <div class="row">
                                <div class="form-group form-group5 col-6">
                                    <div class="form-group">
                                        <p class="pop1-p">Start Date</p>

                                        <input type="date" name="start_date" class="form-control"
                                            aria-describedby="emailHelp" placeholder="">

                                    </div>
                                </div>

                                <div class="form-group col-6">
                                    <div class="form-group">
                                        <p class="pop1-p">Start time</p>

                                        <input type="time" name="start_time" class="form-control"
                                            aria-describedby="emailHelp" placeholder="">

                                    </div>

                                </div>


                            </div>

                            <div class="row">
                                <div class="form-group form-group5 col-6">
                                    <div class="form-group">
                                        <p class="pop1-p">End Date (or expected)</p>

                                        <input type="date" name="end_date" class="form-control"
                                            aria-describedby="emailHelp" placeholder="">

                                    </div>
                                </div>

                                <div class="form-group col-6">
                                    <div class="form-group">
                                        <p class="pop1-p">End time</p>

                                        <input type="time" name="end_time" class="form-control"
                                            aria-describedby="emailHelp" placeholder="">

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <p class="pop1-p">Description*</p>

                                <div class="form-floating">
                                    <textarea name="description" class="form-control" placeholder="Enter Description"
                                        id="floatingTextarea2" style="height: 100px" required></textarea>
                                </div>

                            </div>
                            <div class="form-group">
                                <p class="pop1-p">Visibility</p>

                                <select name="visibility" class="form-select form-select-lg mb-3"
                                    aria-label=".form-select-lg example" id="ddlProducts">


                                    <option selected class="please-select">Please select</option>
                                    <option value="visible" class="please-select">Visible</option>
                                    <option value="non visible" class="please-select">Non Visible</option>

                                </select>

                            </div>


                            <div class="form-group">

                                <div class="col-5 leftside">
                                    <p class="pop1-p" style="margin-top:3%">Event*</p>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input top1" type="radio" name="event_type"
                                            value="online" checked required>
                                        <label class="form-check-label top1" for="inlineRadio111">Online</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input top1" type="radio" name="event_type"
                                            value="offline" required>
                                        <label class="form-check-label top1" for="inlineRadio211">Offline</label>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group ">
                                <p class="pop1-p">Target Audience</p>

                                <input type="text" name="targeted_audience" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Target Audience">
                            </div>

                            <div class="form-group ">
                                <p class="pop1-p">Registration or broadcast link</p>

                                <input type="text" name="reg_or_brod_link" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter Registration or broadcast link">
                            </div>
                            <div class="form-group row">

                                <div class="img-map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.0347486246524!2d75.87966351491376!3d22.726949785103503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd40b7a55555%3A0x9dc64846a6781d28!2sASK%20Innovations!5e0!3m2!1sen!2sin!4v1656335069006!5m2!1sen!2sin"
                                        width="100%" height="300" style="border-radius:4%;" allowfullscreen=""
                                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" name="broadcast" value="yes" class="form-check-input"
                                    id="exampleCheck1">
                                <label class="form-check-label pop1-p" for="exampleCheck1">This is a broadcast
                                    link</label>
                            </div>


                            <div class="modal-footer pop1-foot">

                                <button type="button" class="btn btn-secondary pop1-btn2"
                                    data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary pop1-btn1">Create</button>
                            </div>

                        </form>


                    </div>
                </div>

            </div>
        </div>
        <!-- create communities popup end -->

        <!-- ========================================================================================================================= -->
        <script>
            // Navbar
            $(".mobile-navbar").css("display", "none");
            function open_mobile_menu() {
                $(".mobile-navbar").css("display", "block");

            }
            function close_mobile_menu() {
                $(".mobile-navbar").css("display", "none");

            }

            // profile image - profile menu
            // $("#profile_opn").css("display", "none");
            function profile_opn() {
                $("#profile_opn").css("display", "block");

            }
            function profile_close() {
                $("#profile_opn").css("display", "none");

            }



            // search popup
            $(".search-popup").css("display", "none")

            function search_popup_open() {
                $(".search-popup").css("display", "block")

                $(".search-popup").mouseenter(enter);
                $(".search-popup").mouseleave(leave);
                function enter() {
                    $(".search-popup").css("display", "block");
                }
                function leave() {
                    $(".search-popup").css("display", "none");
                }
            }
            function search_popup_close() {
                // $(".search-popup").css("display", "none");
                $(".s-p-h-r").remove();
            }

            // Activity more popup
            // $(".activity-more-popup").css("display", "none")

            function activity_more_open() {
                $(".activity-more-popup").css("display", "block")

                $(".activity-more-popup").mouseenter(enter);
                $(".activity-more-popup").mouseleave(leave);
                function enter() {
                    $(".activity-more-popup").css("display", "block");
                }
                function leave() {
                    $(".activity-more-popup").css("display", "none");
                }
            }


            // Myhub tabs
            // $("#health").css("display", "block");
            // $("#li1").css("color", "#225c7b");


            $("#community-pillar").css("display", "none");
            $("#family").css("display", "none");
            $("#doctor").css("display", "none");
            $("#public-service").css("display", "none");

            function health() {
                $("#health").css("display", "block");
                $("#community-pillar").css("display", "none");
                $("#family").css("display", "none");
                $("#doctor").css("display", "none");
                $("#public-service").css("display", "none");

                // $("#li1").css("color", "#225c7b");
                // $("#li2").css("color", "#999999");
                // $("#li3").css("color", "#999999");
                // $("#li4").css("color", "#999999");
                // $("#li5").css("color", "#999999");
            }

            function community_pillar() {
                $("#health").css("display", "none");
                $("#community-pillar").css("display", "block");
                $("#family").css("display", "none");
                $("#doctor").css("display", "none");
                $("#public-service").css("display", "none");


                // $("#li1").css("color", "#999999");
                // $("#li2").css("color", "#225c7b");
                // $("#li3").css("color", "#999999");
                // $("#li4").css("color", "#999999");
                // $("#li5").css("color", "#999999");
            }

            function family() {
                $("#health").css("display", "none");
                $("#community-pillar").css("display", "none");
                $("#family").css("display", "block");
                $("#doctor").css("display", "none");
                $("#public-service").css("display", "none");

                // $("#li3").css("color", "#225c7b");
                // $("#li2").css("color", "#999999");
                // $("#li1").css("color", "#999999");
                // $("#li4").css("color", "#999999");
                // $("#li5").css("color", "#999999");
            }

            function doctor() {
                $("#health").css("display", "none");
                $("#community-pillar").css("display", "none");
                $("#family").css("display", "none");
                $("#doctor").css("display", "block");
                $("#public-service").css("display", "none");

                // $("#li4").css("color", "#225c7b");
                // $("#li2").css("color", "#999999");
                // $("#li3").css("color", "#999999");
                // $("#li1").css("color", "#999999");
                // $("#li5").css("color", "#999999");
            }

            function public_service() {
                $("#health").css("display", "none");
                $("#community-pillar").css("display", "none");
                $("#family").css("display", "none");
                $("#doctor").css("display", "none");
                $("#public-service").css("display", "block");

                // $("#li5").css("color", "#225c7b");
                // $("#li2").css("color", "#999999");
                // $("#li3").css("color", "#999999");
                // $("#li4").css("color", "#999999");
                // $("#li1").css("color", "#999999");
            }




        </script>
        <!-- ========================================================================================================================= -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <!-- bootstrap js bundle-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

        <script src="assets/js/script.js"></script>
        <script src="assets/js/popup.js"></script>

</body>

</html>