<!-- button -->
<h4 class="contact_info">Contact Info <span data-toggle="modal" data-target="#exampleModalCenterContactInfo"><i
            class="bi bi-pencil-square"></i></span>
</h4>

<h4 class="contact_info">Contact Info <span style="cursor: pointer; margin-left: 61%; font-size: 22px;"
        data-toggle="modal" data-target="#exampleModalCenterContactInfo"><i class="bi bi-pencil-square"></i></span>
</h4>


<!-- contact info  -->
<% if (contact){%>


    <div class="main-box">
        <div class="row">

            <div class="col-1">
                <div class="icon-right">
                    <p><i class="bi bi-geo-alt icon_contact"></i></p>
                </div>

            </div>
            <div class="col-11">
                <div class="right-sec">
                    <p class="para1">Address</p>
                    <p class="para2">
                        <%=contact[0].address %>
                    </p>
                </div>
            </div>
            <div class="col-1">
                <div class="icon-right">
                    <p><i class="bi bi-telephone icon_contact"></i></p>
                </div>

            </div>
            <div class="col-11">
                <div class="right-sec">
                    <p class="para1">Mobile Number</p>
                    <p class="para2">
                        <%=contact[0].mobile %>
                    </p>
                </div>
            </div>
            <div class="col-1">
                <div class="icon-right">
                    <p><i class="bi bi-envelope icon_contact"></i></p>
                </div>

            </div>
            <div class="col-11">
                <div class="right-sec">
                    <p class="para1">Email</p>
                    <p class="para2">
                        <%=contact[0].email %>
                    </p>
                </div>
            </div>
            <div class="col-1">
                <div class="icon-right">
                    <p><i class="fa fa-birthday-cake icon_contact"></i> </p>
                </div>

            </div>
            <div class="col-11">
                <div class="right-sec">
                    <p class="para1">Birthday</p>
                    <p class="para2">
                        <%=contact[0].birthday %>
                    </p>
                </div>
            </div>


        </div>

    </div>
    <%}%>


        <!-- contact info popup -->

        <!-- create contact info popup start -->
        <div class="modal fade" id="exampleModalCenterContactInfo" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header pop1-header">
                        <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Contact Info </h5>
                        <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <% if (contact){%>

                            <!-- enctype="multipart/form-data" -->
                            <form action="/contact_info_edit/<%=contact[0]._id%>" method="post">


                                <div class="form-group">
                                    <p class="pop1-p">Address</p>
                                    <div class="form-floating">
                                        <textarea name="address" class="form-control" placeholder=""
                                            id="floatingTextarea2"
                                            style="height: 100px"><%=contact[0].address%></textarea>
                                    </div>

                                </div>

                                <div class="form-group" style="margin-top:4%">
                                    <p class="pop1-p">Mobile Number</p>

                                    <input type="text" name="mobile" value="<%=contact[0].mobile%>" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

                                </div>

                                <div class="form-group" style="margin-top:4%">
                                    <p class="pop1-p">Email</p>

                                    <input type="email" name="email" value="<%=contact[0].email%>" class="form-control"
                                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">

                                </div>

                                <div class="form-group" style="margin-top:4%">
                                    <p class="pop1-p">Birthday</p>

                                    <input type="text" name="birthday" value="<%=contact[0].birthday%>"
                                        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        placeholder="">

                                </div>


                                <div class="modal-footer pop1-foot">

                                    <button type="button" class="btn btn-secondary pop1-btn2"
                                        data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary pop1-btn1">Save</button>

                                </div>

                            </form>

                            <%}%>




                    </div>
                </div>

            </div>
        </div>
        <!-- create contact info popup end -->



        <!-- controller -->
        var ContactInfo = require('../models/contactInfoModel');




        // find communities all
        exports.communities_find_all = async (req, res) => {

        const contact_info = await ContactInfo.find({ _id: '62b17ade9ed9e26ea6c74ef5' }).then(
        (contactInfo) => {
        // res.status(200).json(contactInfo);
        //res.render('communities', { contact: contactInfo })
        return contactInfo;
        }
        ).catch(
        (error) => {
        res.status(400).json({
        error: error
        });
        }
        );

        console.log(contact_info)

        Communities.find().then(
        (communities) => {
        //res.status(200).json(communities);
        res.render('communities', { comm: communities, contact: contact_info })
        }
        ).catch(
        (error) => {
        res.status(400).json({
        error: error
        });
        }
        );
        }