<!-- hero start -->
<style>

    .background_img {
    
        background-image: url('profile_pic/<%= user.background_pic%>');
        background-size: 100% 100%;
        height: 380px;
        margin: auto;
        background-repeat: no-repeat;
    
    }
    
    
        .file-upload {
            display: none;
        }
    
        .pop1-btn1 {
            margin-left: 0% !important;
    
        }
    
        .pop-img {
            width: 200px;
            height: 200px;
            margin: auto;
            margin-bottom: 20px;
            border: 2px solid #949494;
            border-style: dashed;
            border-radius: 20px;
        }
    
        .pop1-btn1 {
            /* margin-left: 5%; */
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            background: #225C7B;
            padding: 2% 8%;
            float: left !important;
            border: none !important;
        }
    
        .pop1-btn1:hover {
            /* margin-left: 5%; */
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            background: #225C7B;
            padding: 2% 8%;
            float: left !important;
            border: none !important;
        }
    
        .pop1-btn2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #323232;
            border: 2px solid #225C7B;
            background: none;
            padding: 2% 7%;
        }
    
        .modal-body {
            box-shadow: none !important;
            border: none !important;
            padding: 1rem 2rem !important;
            border-bottom: none !important;
        }
    
        .pop1-header {
            background: #FFFFFF;
            /* border: 1px solid #C4C3C7; */
            box-shadow: none !important;
        }
    
        .form-group select {
            /* background: #FFFFFF !important; */
            /* border: 1px solid #C4C3C7 !important; */
            box-shadow: none !important;
            border-radius: 5px !important;
            border: 2px solid #225C7B !important;
        }
    
        .form-group .form-select {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #212529;
            /* color: #C4C3C7; */
        }
    
    
        .pop1-btn2:hover {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #323232;
            border: 2px solid #225C7B;
            background: none;
            padding: 2% 7%;
        }
    
    
        .camera {
            background: #414040 0% 0% no-repeat padding-box;
            border-radius: 50%;
            font-size: 20px;
            margin-right: 2%;
            margin-top: 2% !important;
            color: #fff;
            padding: 12px 13px;
            font-size: 22px !important;
            display: inline-block;
            float: right !important;
    
    
        }
    </style>
    <!-- Hero section start -->
    <div class="container">
        <div class=" background_img">
            <!-- <i class="bi bi-camera camera1"></i> -->
            <div class="profile_pic">
                <center>
                    <div class="img-curve">
                        <% if (profile){%>
                            <img src="<%= profile.profile_pic  ? 'profile_pic/'+profile.profile_pic : 'assets/img/avtar.png' %>"
                                alt="" class="profile-pic">
                            <%}%>
                    </div>
                </center>
    
                <!-- <form id="profile_pic_form" action="/profile_pic_save" method="post" enctype="multipart/form-data">
                    <div class="p-image">
                        
                        <input class="file-upload" type="file" name="profile_pic">
                    </div>
                </form> -->
    
    
    
                <% if(user._id==myid){ %>
    
                    <i class="fa fa-edit edit_text camera2  upload-button" data-toggle="modal"
                        data-target="#profileAndDegination"></i>
                    <%} else {%>
                        <i class="fa fa-edit edit_text camera2  upload-button" data-toggle="modal"
                            data-target="#profileAndDegination" hidden></i>
                        <%} %>
                            <% if(user._id==myid){%>
                                <h5>
                                    <%=username%>
                                </h5>
                                <%} else {%>
                                    <h5 style="margin-top: 2% !important;">
                                        <%=username%>
                                    </h5>
                                    <%}%>
    
                                        <% if(profile){%>
                                            <p>
                                                <%=profile.degination%>
                                            </p>
                                            <%}%>
                                                <!-- <p>Sr.UI/UX Designer</p> -->
    
    
                                                <p class="camera" data-toggle="modal"
                                                data-target="#background_pic_change"><i class="bi bi-camera"></i> </p>
    
    
            </div>
    
    
        </div>
    
    
    </div>
    <!-- Hero section end -->
    
    
    <!-- modal -->
    <div class="modal fade" id="profileAndDegination" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pop1-header">
                    <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Edit Profile</h5>
                    <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
    
    
                    <form action="/profile_pic_work" method="post" enctype="multipart/form-data">
    
                        <div class="row">
                            <div class="form-group">
                                <div class="pop-img" style="width: 200px; height: 200px;">
                                    <img id="blah" src="images/popupvector.png" alt="your image"
                                        style="border-radius: 50% !important; width: 100%; height: 100%;" />
                                </div>
                                <p class="pop1-p">Upload A Photo</p>
    
                                <div class="ABC">
                                    <input type="file" name="profile_pic" class="form-control-file imgchoose"
                                        id="exampleFormControlFile1" onchange="readURL(this);" required>
                                </div>
    
                            </div>
    
    
                        </div>
    
    
                        <div class="form-group">
                            <p class="pop1-p">Designation</p>
    
                            <select name="degination" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example" id="mySelect" onchange="myFunction5()">
    
    
                                <option selected class="please-select">Please select</option>
    
                                <option value="Doctor">Doctor</option>
                                <option value="UI/Ux Designer">UI/Ux Designer</option>
                                <option value="Developer">Developer</option>
                            </select>
    
                        </div>
    
                        <div class="form-group" id="drop1">
                            <p class="pop1-p">Doctor</p>
    
                            <select name="doctor" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example" id="ddlProducts2">
    
    
                                <option selected class="please-select">Please select</option>
    
                                <option value="MBBS">MBBS</option>
                                <option value="MD">MD</option>
                                <option value="BDS">BDS</option>
                            </select>
    
                        </div>
                        <div class="form-group" id="drop2">
                            <p class="pop1-p">UI/Ux Designer</p>
    
                            <select name="designer" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example" id="ddlProducts2">
    
    
                                <option selected class="please-select">Please select</option>
    
                                <option value="UI/Ux Designer">UI/Ux Designer</option>
                                <option value="UI/Ux Designer1">UI/Ux Designer1</option>
                                <option value="UI/Ux Designer2">UI/Ux Designer2</option>
                            </select>
    
                        </div>
                        <div class="form-group" id="drop3">
                            <p class="pop1-p">Developer</p>
    
                            <select name="developer" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example" id="ddlProducts2">
    
    
                                <option selected class="please-select">Please select</option>
    
                                <option value="HTML">HTML</option>
                                <option value="PHP">PHP</option>
                                <option value="JAVA">JAVA</option>
                            </select>
    
                        </div>
                        <p id="demo1"></p>
    
                        <Script>
                            $('#drop1').hide();
                            $('#drop2').hide();
                            $('#drop3').hide();
                            var a = $('#ddlProducts1').val();
                            function myFunction5() {
                                var x = $("#mySelect").val();
    
                                if (x === 'Doctor') {
                                    $('#drop1').show();
                                    $('#drop2').hide();
                                    $('#drop3').hide();
                                } else if (x === 'UI/Ux Designer') {
                                    $('#drop2').show();
                                    $('#drop1').hide();
                                    $('#drop3').hide();
                                } else if (x === 'Developer') {
                                    $('#drop3').show();
                                    $('#drop2').hide();
                                    $('#drop1').hide();
                                }
                            }
    
                        </Script>
    
    
    
                        <div class="modal-footer pop1-foot">
    
                            <button type="button" class="btn btn-secondary pop1-btn2" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary pop1-btn1">Save</button>
    
                        </div>
    
                    </form>
    
                </div>
    
            </div>
        </div>
    </div>
    
    <!-- modal -->
    <div class="modal fade" id="background_pic_change" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pop1-header">
                    <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Edit Profile</h5>
                    <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
    
    
                    <form action="/background_pic_work" method="post" enctype="multipart/form-data">
    
                        <div class="row">
                            <div class="form-group">
                                <div class="pop-img" style="width: 200px; height: 200px;">
                                    <img id="blah2" src="images/popupvector.png" alt="your image"
                                        style="border-radius: 50% !important; width: 100%; height: 100%;" />
                                </div>
                                <p class="pop1-p">Upload A Photo</p>
    
                                <div class="ABC">
                                    <input type="file" name="background_pic" class="form-control-file imgchoose"
                                        id="exampleFormControlFile11" required>
                                </div>
    
                            </div>
    
    
                        </div>
    
    
    
    
    
                        <div class="modal-footer pop1-foot">
    
                            <button type="button" class="btn btn-secondary pop1-btn2" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary pop1-btn1">Save</button>
    
                        </div>
    
                    </form>
    
                </div>
    
            </div>
        </div>
    </div>
    
    
    
    <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
    
            reader.onload = function (e) {
                $('#blah2')
                    .attr('src', e.target.result);
            };
    
            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>

<!-- hero end -->








<!-- hero2 start -->
<style>
    .camera {
        background: #414040 0% 0% no-repeat padding-box;
        border-radius: 50%;
        font-size: 20px;
        margin-right: 2%;
        margin-top: 2% !important;
        color: #fff;
        padding: 12px 13px;
        font-size: 22px !important;
        display: inline-block;
        float: right !important;
    }




    /*Hero section start*/

    .background_img {

background-image: url('profile_pic/<%= user.background_pic%>');
background-size: 100% 100%;
height: 380px;
margin: auto;
background-repeat: no-repeat;

}


    .camera1 {
        border-radius: 50%;
        background-color: #fff;
        padding: 6px 8px 6px 8px;
        font-size: 22px;
        cursor: pointer;

        position: relative;
        top: -30%;
        left: 95%;
    }

    .profile_pic {
        position: relative;
        top: 30%;
        left: 40%;

        display: inline-block;
    }

    .profile_pic h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;

        position: relative;
        top: 20px;
        left: -15px;
    }

    .profile_pic h5 i {
        cursor: pointer;
    }

    .profile_pic p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;

        position: relative;
        top: 18px;
        left: -5px;
    }



    .edit_text {

        border: 0.2px;
    }

    .des_text {

        font-size: "inter";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;

    }

    .camera2 {
        background-color: #ffffff !important;
        border-radius: 50% !important;
        font-size: 20px !important;
        padding: 7px 8px 7px 8px;
        position: relative;
        top: -90px;
        left: -37px;

        cursor: pointer;
    }

    /*Hero section end*/
    /* hero section about start*/
    .box1 {
        width: 50%;

        height: auto;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
        border-radius: 4px;

        margin-top: -7%;
        padding: 2%;

    }

    .box1-inner {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #225C7B;


    }

    .box1-inner2 {


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        margin-top: 4%;
        margin-bottom: 4%;


        color: #2B2B2B;


    }

    .box1-inner3 {


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        color: #2B2B2B;



    }

    .box1-btn {

        background: #ABB497;
        border-radius: 5px;
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        padding: 8px 20px;
        border: none !important;

        margin-left: 11%;

    }

    .box1-btn2 {

        background: #225C7B;
        border-radius: 5px;
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        padding: 8px 20px;
        border: none !important;



    }

    .box1-p3 {


        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */


        color: #444444;
        float: right;
        margin-top: 25%;


    }



    .box1-img img {
        width: 60px;
        height: 38px;
        border-radius: 50%;
        /* border: 1px solid #FFFFFF; */
        /* border-radius: 50px; */
        margin-right: -35px;
        margin-top: 6%;
    }

    .box1-dot {

        margin-left: 89%;
        margin-top: -10%;
        color: #fff;

    }


    .boxdown-img {

        padding: 7% 3% 3% 6%;



    }

    .boxdown-img1 {

        padding: 0% 3% 3% 6%;



    }

    .boxdown-img2 {

        padding: 0% 3% 3% 6%;



    }

    .boxdown-img3 {
        padding: 0% 3% 5% 6%;


    }

    .boxdown-img img {

        height: auto;
        width: 100%;



    }

    .boxdown-img1 img {

        height: auto;
        width: 100%;



    }

    .boxdown-img2 img {

        height: auto;
        width: 100%;



    }

    .boxdown-img3 img {

        height: auto;
        width: 100%;



    }


    .box2-center {
        margin-left: -8px;
        margin-right: -8px;

    }



    @media (min-width:992px) and (max-width:1399px) {


        .box1-btn {
            margin-left: -5%;
        }

        .box1-img img {
            margin-right: -39px;
        }

        .box1-dot {
            margin-left: 88%;
            margin-top: -12%;
        }



    }

    @media(max-width : 576px) {
        .camera {
            background: #414040 0% 0% no-repeat padding-box;
            border-radius: 50%;
            font-size: 20px;
            margin-right: 2%;
            margin-top: 2% !important;
            color: #fff;
            padding: 9px 10px;
            font-size: 18px !important;
            display: inline-block;
            float: right !important;
        }

        .box1 {
        width: 90%;
        margin-top: -38%;
        height: auto;

    }

    .box1-mob {
        width: 100%;

    }

    .box1-mob2 {
        width: 100%;
        display: contents;

    }

    .box1-inner {
        text-align: center;
    }

    .box1-inner2 {
        text-align: center;
    }

    .box1-inner3 {
        text-align: center;
    }

    .box1-dot {
        display: none;
    }

    .box1-btn {
        margin-top: 10%;
    }

    .box1-btn2 {
        margin-top: 10%;
    }

    .box1-p3 {
        margin-top: 10%;
        text-align: center;
        /* margin-left: 10%; */
    }

    .box1-img img {
        margin-right: -37px;
    }



    .box4-section {

        margin-bottom: 10px;

    }



    }


    /* hero section about end*/
</style>
<!-- Hero section start -->
<div class="container">
    <div class=" background_img">


        <p class="camera" data-toggle="modal"
        data-target="#background_pic_change"><i class="bi bi-camera"></i> </p>


    </div>

    <div class="row box1">


        <div class="col-6 box1-mob">


            <p class="box1-inner">Best UX UI Designers</p>

            <p class="box1-inner2">Group by Vedant Pawar</p>

            <p class="box1-inner3">Public Group <i class="bi bi-dot"></i> 80 members</p>
            <div class="row box1-img">
                <img src="assets/img/raj.jpg" alt="" style="z-index:11">
                <img src="images/Ellipse 1 (3).png" alt="" style="z-index:10">
                <img src="assets/img/raj.jpg" alt="" style="z-index:9">
                <img src="images/Ellipse 1 (3).png" alt="" style="z-index:8">
                <img src="assets/img/raj.jpg" alt="" style="z-index:7">
                <img src="images/Ellipse 1 (3).png" alt="" style="z-index:6">
                <img src="assets/img/raj.jpg" alt="" style="z-index:5">
                <img src="images/Ellipse 1 (3).png" alt="" style="z-index:4">
                <img src="assets/img/raj.jpg" alt="" alt="" style="z-index:3">
                <img src="images/Ellipse 1 (3).png" alt="" style="z-index:2">
                <img src="assets/img/raj.jpg" alt="" alt="" style="z-index:1">
                <i class="bi bi-three-dots box1-dot" style="z-index:13"></i>
            </div>
        </div>

        <div class="col-6 box1-mob2 ">
            <button class="box1-btn">Joined &nbsp; <i class="bi bi-chevron-down"></i></button>
            &nbsp;
            <button class="box1-btn2" data-toggle="modal" data-target="#exampleModalCenterCreateCommunities223"><i
                    class="bi bi-plus-lg"></i> &nbsp;
                Invite </button>
            <!-- <p class="box1-p3">Created 2 years ago</p> -->
        </div>
    </div>
</div>
<!-- Hero section end -->


<!-- modal -->
<div class="modal fade" id="background_pic_change" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pop1-header">
                <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Edit Profile</h5>
                <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form action="/background_pic_work" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="form-group">
                            <div class="pop-img" style="width: 200px; height: 200px;">
                                <img id="blah2" src="images/popupvector.png" alt="your image"
                                    style="border-radius: 50% !important; width: 100%; height: 100%;" />
                            </div>
                            <p class="pop1-p">Upload A Photo</p>

                            <div class="ABC">
                                <input type="file" name="background_pic" class="form-control-file imgchoose"
                                    id="exampleFormControlFile11" required>
                            </div>

                        </div>


                    </div>





                    <div class="modal-footer pop1-foot">

                        <button type="button" class="btn btn-secondary pop1-btn2" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary pop1-btn1">Save</button>

                    </div>

                </form>

            </div>

        </div>
    </div>
</div>



<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah2')
                .attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<!-- hero2 end -->




<!-- back img controller -->

const { Timestamp } = require('mongodb');
var User = require('../models/model');

// profile pic upload
exports.background_pic_save = (req, res) => {

    var id = req.session.userId;

    User.findByIdAndUpdate(id, { background_pic: req.file.filename }, { new: true })
        .then(data => {
            if (!data) {
                res.status(404).send({
                    message: `Cannot update User with id=${id}. Maybe Tutorial was not found!`
                });
            } else
                // res.send({ message: "User was updated successfully." });
                res.redirect(req.get('referer'));
        })
        .catch(err => {
            res.status(500).send({
                message: "Error updating User with id=" + id
            });
        });


}


// find events all
// exports.photos_find_all = async (req, res) => {

   
// }
// var degination = 'doctor';
// function mn() {
//     if (degination === 'doctor') {
//         return 'doctor';
//     } else if (degination === 'designer') {
//         return 'designer';
//     } else if (degination === 'developer') {
//         return 'developer';
//     } else {
//         return 'null value';
//     }
// }
// console.log(mn())

// profile pic and degination
// exports.pic_work = async (req, res) => {
//     if (req.session.login) {

//         const {degination, doctor, designer, developer} = req.body;
        
//         function mn() {
//             if (degination === "Doctor") {
//                 return doctor;
//             } else if (degination === "UI/Ux Designer") {
//                 return designer;
//             } else if (degination === "Developer") {
//                 return developer;
//             } else {
//                 return '';
//             }
//         }

//         const profile = {
//             degination: mn(),
//             profile_pic: req.file.filename,
//         }
       
//         var id = req.session.userId;
//         User.findByIdAndUpdate(id, profile, { new: true })
//             .then(data => {
//                 if (!data) {
//                     res.status(404).send({
//                         message: `Cannot update User with id=${id}. Maybe Tutorial was not found!`
//                     });
//                 } else res.redirect(req.get('referer'));
//             })
//             .catch(err => {
//                 res.status(500).send({
//                     message: "Error updating User with id=" + id
//                 });
//             });
//     } else {
//         req.session = false;
//         res.redirect("/login");
//     }
// }







<!-- finish -->








<!-- back img modal -->
const { Timestamp } = require('mongodb');
const mongoose = require('mongoose');

const profileSchema = mongoose.Schema({
    background_pic: { type: String },
    created: { type: Date },

});

module.exports = mongoose.model('backgroundImg', profileSchema);

<!-- back img modal end -->





<!-- my profile router -->

var express = require('express');
var router = express.Router();
const multer = require('multer')
var session = require('express-session');
var cookieParser = require('cookie-parser');

// controller path
// var myHubController = require('../controller/myHubcontroller');
// const req = require('express/lib/request');
var myprofileController = require('../controller/myprofileController');


//session
const oneDay = 1000 * 60 * 60 * 24;
router.use(session({
    secret: "thisismysecrctekeyfhrgfgrfrty84fwir767",
    saveUninitialized: true,
    cookie: { maxAge: oneDay },
    resave: false
}));

router.use(cookieParser());

//multer - File upload path and filename
const storage = multer.diskStorage({
    destination: function (req, file, cb) {
        cb(null, 'public/media/health')
    },
    filename: function (req, file, cb) {
        const uniqueSuffix = Date.now() + '-' + Math.round(Math.random() * 1E9)
        cb(null, file.fieldname + '-' + uniqueSuffix + '-' + file.originalname)
    },
    fileFilter (req, file, cb) {
        const ext = path.extname(file.originalname);
        if (ext !== '.pdf') {
          return cb(new Error('Only pdf files allowed'));
        }
        cb(null, true);
      },
      limits: {
        fileSize: 5242880,
      }
});

const storageDoctor = multer.diskStorage({
  destination: function (req, file, cb) {
      cb(null, 'public/media/health/doctor')
  },
  filename: function (req, file, cb) {
      const uniqueSuffix = Date.now() + '-' + Math.round(Math.random() * 1E9)
      cb(null, file.fieldname + '-' + uniqueSuffix + '-' + file.originalname)
  }
});

  

const upload = multer({ storage: storage });
const uploadDoctor = multer({ storage: storageDoctor });

// myprofile
router.get('/myprofile', myprofileController.find_all);

// myprofile bio update
router.post('/myprofile-bio-edit', myprofileController.bio_update);

// myprofile langage update
router.post('/myprofile-language-edit', myprofileController.language_update);

// myprofile langage update
router.post('/myprofile-language-edit/:id', myprofileController.language_edit);

module.exports = router;