<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Video Call</title>
    <link rel="stylesheet" href="assets/css/videocall.css">
    <script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.6.11.js"></script>
</head>
<body>

    <% if(callingData) { %>
        <p>Token: <%= callingData.token %></p>
        <p>Channel: <%= callingData.channel %></p>
        <p>Uid: <%= callingData.uid %></p>
    <input id="agora-token" type="text" value="<%= callingData.token %>" hidden>
    <input id="agora-channel" type="text" value="<%= callingData.channel %>" hidden>
    <input id="agora-uid" type="text" value="<%= callingData.uid %>" hidden>
        <%}%>

    <h4>Local video</h4>
    <div id="me"></div>
    <h4>Remote video</h4>
    <div id="remote-container">
    </div>

    <script src="assets/js/videocall.js"></script>    
</body>
</html>