<style>
    /* Navbar */

    .btn-req{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 22px;
    background: #225C7B;
    color: #fff;
    border-color: #225c7b;
    margin-top: 4%;
    margin-bottom: 4%;
    }

    .btn-dec{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 22px;
    background: #225C7B;
    color: #fff;
    border-color: #225c7b;
    margin-top: 4%;
    margin-bottom: 4%;
    }

    .btn-req:hover{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 22px;
    background: #225C7B;
    color: #fff;
    border-color: #225c7b;
    margin-top: 4%;
    margin-bottom: 4%;
    }

    .btn-dec:hover{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px 22px;
    background: #225C7B;
    color: #fff;
    border-color: #225c7b;
    margin-top: 4%;
    margin-bottom: 4%;
    }
    
    .form-group input {
    box-shadow: none !important;
}
    .nav-r {
        margin-left: 650px;

    }
    input[type=date] {
    font-family: 'Inter';
    text-transform: uppercase !important;
    font-style: normal;
    /* font-size: 14px; */
    font-weight: 500;
    color: #949494;
    /* text-transform: capitalize; */
}
    /* raj new */
    .navbar {
        background: transparent linear-gradient(90deg, #CCD7B5 0%, #A9C6AD 67%, #3B8F92 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .navbar-brand {
        margin-left: 5.6%;
    }

    .navbar-brand img {
        width: 110px;
        height: 32px;
    }

    .search-bar {

        border: 1px solid #D5D4D7;
        border-radius: 20px;
        padding: 8px 20px;
        background-color: #fff;

        position: relative;
        left: 11%;


    }

    .search-bar input {
        border: transparent;
        width: 198px;
        opacity: 1;
        color: #909090;
        font-family: 'Inter';
        font-style: normal;

    }

    .search-bar input:focus {
        outline: transparent;
    }

    .search-bar span {
        font-size: 20px;
        position: relative;
    }

    .nav-bar-pages {
        display: flex;
    }

    .navbar-nav {
        position: relative;
        left: 53.1%;
    }

    .navbar-nav li {
        padding: 10px 15px;
    }

    .navbar-nav li svg {
        /* font-size: 25px; */
        /* font-size: 25px; */
        color: #fff;
        border: 1px solid transparent;
        padding: 6px 3px;
        /* background-color: #225c7b; */
        border-radius: 50px;
    }

    .navbar-nav li svg:hover {
        /* font-size: 25px; */
        color: #fff;
        border: 1px solid #225c7b;
        padding: 6px 3px;
        /* padding: 15px 15px; */
        background: #2A7070 0% 0% no-repeat padding-box;
        /* opacity: 0.63; */
        border-radius: 50px;
    }


    .profile-menu-img {
        width: 40px;
        height: 40px;
        border-radius: 50px;

        position: relative;
        top: 10px;
        left: 20px;
    }

    /* raj new end */
    .mobile-navbar {
        display: none;
    }

    .menu-btn {
        display: none;
    }


    /* profile-popup */
    #profile_opn {
        display: none;
    }

    .profile-menu-img {
        width: 40px;
        height: 40px;
        border-radius: 50px;

        position: relative;
        top: 13px;
        left: 20px;
    }

    .profile-btn-menu {
        position: absolute;
        width: 380px;
        height: 580px !important;
        left: 72% !important;
        z-index: 10;
        top: 70px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
        border-radius: 4px;
    }

    .profile-btn-menu-r1 {
        display: flex;
    }

    .profile-btn-menu-r1 div img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 1px solid #225c7b;

        position: relative;
        top: 25%;
        left: 20%;
    }

    .btn-close {
        position: relative;
        top: 15px;
        left: 70px;

    }

    .profile-btn-menu-r1 div h2 {
        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        font-weight: 700;
        color: #225c7b;

        position: relative;
        top: 40%;
        left: 25%;
    }

    .profile-btn-menu-r1 div p {
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        font-weight: 500;
        color: #444444;

        position: relative;
        top: 55%;
        left: 25%;
    }

    .profile-btn-menu .hr1 {
        position: relative;
        top: 45px;
        width: 90%;
        height: 1.5px;
        margin: auto;
    }

    .profile-btn-menu-r2 h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #222222;

        position: relative;
        top: 70px;
        left: 10%;
    }

    .profile-btn-menu-r2 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6F6F6F !important;

        position: relative;
        top: 70px;
        left: 10%;
        margin: 20px 0;
    }

    .profile-btn-menu-r2 p i {
        color: #225c7b;
        margin-right: 5px;
        font-size: 22px;
    }

    .profile-btn-menu .hr2 {
        position: relative;
        top: 75px;
        width: 90%;
        height: 1.5px;
        margin: auto;
    }

    .profile-btn-menu-r3 h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        margin-bottom: 25px;

        position: relative;
        top: 100px;
        left: 10%;
    }

    .profile-btn-menu-r3 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6F6F6F;

        position: relative;
        top: 75px !important;
        left: 10%;
        margin: 20px 0;
    }

    .profile-btn-menu-r3 p span {
        font-weight: 600;
    }

    .profile-btn-menu-r3 p i {
        margin-right: 5px;
        color: #225c7b;
        font-size: 22px;
    }

    .profile-btn-menu-r2 p i {
        color: #225c7b;
        font-size: 22px;
    }

    .profile-btn-menu .hr3 {
        position: relative;
        top: 100px;
        width: 90%;
        height: 1.5px;
        margin: auto;
    }

    .profile-btn-menu-r3 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6F6F6F;

        position: relative;
        top: 100px;
        left: 10%;
        margin: 20px 0;
    }



    /* profile btn menu start */
    .profile-btn-menu {
        position: absolute;
        width: 380px;
        height: 670px;
        left: 73%;
        top: 70px;

        /* background: #FFFFFF;
    float: right; */

        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
        border-radius: 4px;

    }

    .profile-btn-menu-r1 {
        display: flex;
    }

    .profile-btn-menu-r1 div img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 1px solid #225c7b;

        position: relative;
        top: 25%;
        left: 20%;
    }

    .btn-close {
        position: relative;
        top: 15px;
        left: 70px;

    }

    .profile-btn-menu-r1 div h2 {
        font-family: 'Inter';
        font-style: normal;
        font-size: 25px;
        font-weight: 700;
        color: #225c7b;

        position: relative;
        top: 40%;
        left: 25%;
    }

    .profile-btn-menu-r1 div p {
        font-family: 'Inter';
        font-style: normal;
        font-size: 18px;
        font-weight: 500;
        color: #444444;

        position: relative;
        top: 55%;
        left: 25%;
    }

    .profile-btn-menu .hr1 {
        position: relative;
        top: 45px;
        width: 90%;
        height: 1.5px;
        margin: auto;
    }

    .profile-btn-menu-r2 h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #222222;

        position: relative;
        top: 70px;
        left: 10%;
    }

    .profile-btn-menu-r2 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6F6F6F;

        position: relative;
        top: 70px;
        left: 10%;
        margin: 20px 0;
    }

    .profile-btn-menu-r2 p i {
        color: #225c7b;
        margin-right: 5px;
        font-size: 22px;
    }

    .profile-btn-menu .hr2 {
        position: relative;
        top: 75px;
        width: 90%;
        height: 1.5px;
        margin: auto;
    }

    .profile-btn-menu-r3 h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        margin-bottom: 25px;

        position: relative;
        top: 100px;
        left: 10%;
    }

    .profile-btn-menu-r3 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #222222;

        position: relative;
        top: 95px;
        left: 10%;
        margin: 20px 0;

        cursor: pointer;
    }

    .profile-btn-menu-r3 p a {
        text-decoration: none;
        color: #222222;
    }

    .profile-btn-menu-r3 p span {
        font-weight: 600;
    }

    .profile-btn-menu-r3 p i {
        margin-right: 5px;
        color: #225c7b;
        font-size: 22px;
    }

    .profile-btn-menu-r2 p i {
        color: #225c7b;
        font-size: 22px;
    }

    .profile-btn-menu .hr3 {
        position: relative;
        top: 100px;
        width: 90%;
        height: 1.5px;
        margin: auto;
    }

    .profile-btn-menu-r3 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #6F6F6F;

        position: relative;
        top: 100px;
        left: 10%;
        margin: 20px 0;
    }

    #profile_opn {
        display: none;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .profile-btn-menu-r3 p a {
        text-decoration: none;
        color: #6F6F6F;
    }

    .profile-btn-menu-r3 p span {
        font-weight: 500;
    }

    .profile-btn-menu-r2 h2 {
        color: #000;
    }

    .profile-btn-menu-r1 div p {
        color: #6F6F6F;
    }

    .profile_pic_btn {
        width: 40px;
        height: 40px;
        border-radius: 50px;

        position: relative;
        top: 13px;
        left: 20px;
    }

    .profile_pic_btn img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }

    .profile_pic_btn {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        position: relative;
        top: 10px;
        left: 20px;
    }

    .navbar-nav {
        position: relative;
        left: 55.1%;
    }

    .profile-btn-menu {

        left: 68% !important;

    }

    .profile-btn-menu {
        left: 71.6% !important;
    }

    /* notifiction */
    .btn-close2 {

        position: relative;
        top: 24px;
        left: 88% !important;
    }
    .btn-close1 {

position: relative;
top: 16px;
left: 90% !important;
}
   

    .profile-btn-menu1 {
        position: absolute;
        width: 380px;
        height: auto !important;
        left: 71.6;
        top: 70px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
        border-radius: 4px;
    }

    .notification-img {

        height: 65px;
        width: 65px;
        margin: 14px 0px 13px 15px;

    }


    .notification-img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    .request {
        font-family: 'Inter';
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #9B9B9B;
        margin-right: 3%;
        margin-top: 5%;

    }

    .request span {

        color: #225C7B;


    }

    hr {
        color: #8f818185;

    }

    .profile-btn-menu2 {
        position: absolute;
        width: 380px;
        left: 71.6;
        top: 70px;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
        border-radius: 4px;

        height: 650px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: thin !important;
        /* position: fixed; */
    }
    .notification-h {
        font-family: 'Inter';
        font-style: normal;
        font-size: 24px;
        font-weight: 700;
        margin-left: 5%;
    }
    .profile-btn-menu-r1 div img {
 
    border: none !important;

}
.navbar-brand {
    margin-left: 1.2% !important;
}
.navbar-nav {
    position: relative !important;
    left: 40.1% !important;
}
   
    @media (min-width:992px) and (max-width:1399px) {
        .profile-btn-menu {
            left: 68% !important;
        }
        .navbar-brand {
    margin-left: 0.9% !important;
}
        .navbar-nav {
            position: relative;
            left: 23.1% !important;
        }

        .search-bar {
            border: 1px solid #D5D4D7;
            border-radius: 20px;
            padding: 8px 20px;
            background-color: #fff;
            position: relative;
            left: 7%;
        }

        .navbar-nav li {
            padding: 10px 13px;
        }

        .navbar-nav {
            position: relative;
            left: 47.1%;
        }

        .profile-btn-menu {
            left: 63% !important;
        }

        .profile-btn-menu {
            left: 68.2% !important;
        }
        .btn-close1 {
    position: relative;
    top: 16px;
    left: 87% !important;
}
    }

    @media(max-width : 576px) {
        .search-bar {
            border: 1px solid #D5D4D7;
            border-radius: 20px;
            padding: 4px 10px;
            background-color: #fff;
            position: absolute;
            left: 142px;
            /* right: 0; */
            top: 16px;
        }

        .navbar-nav li {
            padding: 0px 0px;
        }

        .navbar-nav li a {
            text-decoration: none;
            color: #000;
        }

        .navbar-nav {
            position: relative;
            left: 0%;
        }

        .search-bar input {
            border: transparent;
            width: 75px;
            font-family: 'Inter';
            font-style: normal;
        }

        /* profile btn mobile */
        .profile-btn-menu {
            position: absolute;
            width: 95%;
            margin: auto;
            height: 630px;
            left: 1% !important;
            top: 62px !important;
            background: #FFFFFF;
            /* float: right; */
            z-index: 4;
        }

        .btn-close {
            position: relative;
            top: 15px;
            left: 50px !important;
        }

        .profile-menu-img {
            position: relative;
            top: -17px;
            left: 11px;
        }

        /* profile btn */
        .profile-btn-menu {
            position: absolute;
            width: 380px;
            height: 721px;
            left: 72%;
            top: 70px;

            /* background: #FFFFFF;
    float: right; */

            background: #FFFFFF;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
            border-radius: 4px;
        }



        .profile-btn-menu-r1 {
            display: flex;
        }

        .profile-btn-menu-r1 div img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            border: 1px solid #225c7b;

            position: relative;
            top: 25%;
            left: 20%;
        }

        .btn-close {
            position: relative;
            top: 15px;
            left: 70px;

        }

        .profile-btn-menu-r1 div h2 {
            font-family: 'Inter';
            font-style: normal;
            font-size: 25px;
            font-weight: 700;
            color: #225c7b;

            position: relative;
            top: 40%;
            left: 25%;
        }

        .profile-btn-menu-r1 div p {
            font-family: 'Inter';
            font-style: normal;
            font-size: 18px;
            font-weight: 500;
            color: #444444;

            position: relative;
            top: 55%;
            left: 25%;
        }

        .profile-btn-menu .hr1 {
            position: relative;
            top: 45px;
            width: 90%;
            height: 1.5px;
            margin: auto;
        }

        .profile-btn-menu-r2 h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #222222;

            position: relative;
            top: 70px;
            left: 10%;
        }

        .profile-btn-menu-r2 p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #222222;

            position: relative;
            top: 70px;
            left: 10%;
            margin: 20px 0;
        }

        .profile-btn-menu-r2 p i {
            color: #225c7b;
            margin-right: 5px;
            font-size: 22px;
        }

        .profile-btn-menu .hr2 {
            position: relative;
            top: 75px;
            width: 90%;
            height: 1.5px;
            margin: auto;
        }

        .profile-btn-menu-r3 h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            margin-bottom: 25px;

            position: relative;
            top: 100px;
            left: 10%;
        }

        .profile-btn-menu-r3 p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #222222;

            position: relative;
            top: 95px;
            left: 10%;
            margin: 20px 0;

            cursor: pointer;
        }

        .profile-btn-menu-r3 p a {
            text-decoration: none;
            color: #222222;
        }

        .profile-btn-menu-r3 p span {
            font-weight: 600;
        }

        .profile-btn-menu-r3 p i {
            margin-right: 5px;
            color: #225c7b;
            font-size: 22px;
        }

        .profile-btn-menu-r2 p i {
            color: #225c7b;
            font-size: 22px;
        }

        .profile-btn-menu .hr3 {
            position: relative;
            top: 100px;
            width: 90%;
            height: 1.5px;
            margin: auto;
        }

        .profile-btn-menu-r3 p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #222222;

            position: relative;
            top: 100px;
            left: 10%;
            margin: 20px 0;
        }

        #profile_opn {
            display: none;
        }




    }

    /* profile btn menu end */
</style>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/feed#">
                <img src="assets/img/Senior_Konnect_Logo_(2).png" alt="">
            </a>
            <div class="search-bar">
                <!-- <i class="bi bi-caret-down-fill" onclick="search_popup_open()"></i>
                <span>|</span> -->
                <!-- <i class="fa-solid fa-pipe"></i>
                <i class="bi bi-search" style="color:  #A1A1A1;"></i>
                <input type="text" placeholder="Search">
                <i class="bi bi-mic" style="color:  #225C7B "></i> -->

                <form id="search_form" action="/search" method="post">
                    <i class="fa-solid fa-pipe"></i>
                    <button type="submit"><i class="bi bi-search" style="color:  #A1A1A1;"></i></button>
                    <input type="text" name="search" placeholder="Search">
                    <i class="bi bi-mic" style="color:  #225C7B "></i>
                </form>
            </div>

            <button type="button" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon" onclick="open_mobile_menu()"></span>
            </button>
            <div class="views">
                <ul class="view-links">
                    <li>
                        <a href="/konnects">
                            <h2><% if(my_kon){%> <%= my_kon.konnects.length %> <%}%></h2>
                            <p>Konnects</p>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="">
                            <h2>275</h2>
                            <p>Profile Visits</p>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="">
                            <h2>50</h2>
                            <p>Post Views</p>
                        </a>
                    </li> -->
                    <li>
                        <a href="">
                            <h2>10</h2>
                            <p>Messages</p>
                        </a>
                    </li>
                    <li class="last-li">
                        <a href="">
                            <h2>05</h2>
                            <p>Missed Calls</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-nav">
                    <li><a href="/feed"><svg xmlns="http://www.w3.org/2000/svg" width="39" height="27" style="    height: 38px;
                        width: 39px;" viewBox="0 0 35.458 37.163">
                                <g id="Home" transform="translate(0.5 0.5)">
                                    <path id="Home-2" data-name="Home"
                                        d="M27.712,36.163H24.1a3.3,3.3,0,0,1-3.247-3.055l-.018-.254V27.684a1.148,1.148,0,0,0-.979-1.123l-.163-.018H14.852a1.148,1.148,0,0,0-1.123.977l-.018.164v5.154a1.909,1.909,0,0,1-.036.324l-.018.037-.021.125a3.283,3.283,0,0,1-3.062,2.822l-.237.016H7.09A7.085,7.085,0,0,1,0,29.473V14.448a5.376,5.376,0,0,1,1.813-3.963l11.3-9.059a6.6,6.6,0,0,1,7.907-.218l.292.218,11.042,8.808a5.441,5.441,0,0,1,2.088,3.849l.018.365V29.111A7.09,7.09,0,0,1,27.712,36.163ZM14.581,24.029H19.7a3.688,3.688,0,0,1,3.663,3.384v5.442a.789.789,0,0,0,.635.776h3.372A4.54,4.54,0,0,0,31.917,29.4l.021-.288V14.464a2.927,2.927,0,0,0-.908-2.043l-.235-.2L19.732,3.4a4.048,4.048,0,0,0-2.523-.875,4.1,4.1,0,0,0-2.265.675l-.274.2L3.643,12.259a2.806,2.806,0,0,0-1.1,1.916l-.021.29V29.111A4.546,4.546,0,0,0,6.8,33.631h3.535a.776.776,0,0,0,.8-.648l.038-.326.02-.093V27.684A3.641,3.641,0,0,1,14.581,24.029Z"
                                        transform="translate(0 0)" fill="#fff" stroke="#fff" stroke-width="1" />
                                </g>
                            </svg></a></li>
                    <li><a href="/communities"><svg id="_3_User" style="height: 39px;
                        width: 38px;" data-name="3 User" xmlns="http://www.w3.org/2000/svg" width="32" height="35"
                                viewBox="0 0 49.801 38.361">
                                <path id="_3_User-2" data-name="3 User"
                                    d="M9.569,31.1c0-2.631,1.311-4.486,4.01-5.671,2.484-1.094,6.184-1.625,11.31-1.625l.69,0c4.908.047,8.445.6,10.813,1.686,2.568,1.179,3.816,3,3.816,5.567a5.756,5.756,0,0,1-3.643,5.5c-2.275,1.106-5.647,1.688-10.314,1.78l-1.362.012C14.3,38.361,9.569,36.123,9.569,31.1Zm3.395,0c0,3.2,6.486,3.865,11.925,3.865,7.8,0,11.925-1.35,11.925-3.9,0-3.193-6.484-3.863-11.925-3.863C17.088,27.2,12.964,28.552,12.964,31.1Zm29.3.914a1.7,1.7,0,0,1,1.32-2c1.476-.3,2.446-.788,2.684-1.291a1.434,1.434,0,0,0,0-1.222c-.242-.507-1.218-.994-2.717-1.289a19.668,19.668,0,0,0-2.963-.428,1.7,1.7,0,0,1,.234-3.386,22.619,22.619,0,0,1,3.427.495c2.419.472,4.238,1.381,5.083,3.148a4.82,4.82,0,0,1,0,4.138c-.837,1.763-2.625,2.657-5.064,3.158a1.694,1.694,0,0,1-2-1.32ZM5.531,33.337c-2.44-.5-4.227-1.4-5.062-3.156a4.8,4.8,0,0,1,0-4.14c.784-1.649,2.421-2.55,4.566-3.04l.466-.1a23.106,23.106,0,0,1,3.474-.5,1.7,1.7,0,1,1,.234,3.386,19.683,19.683,0,0,0-2.256.283l-.753.155c-1.45.285-2.425.772-2.668,1.281a1.415,1.415,0,0,0,0,1.22c.238.5,1.206.988,2.682,1.291a1.7,1.7,0,1,1-.684,3.323ZM17.509,17.81a10.469,10.469,0,0,1,0-14.766,10.426,10.426,0,0,1,17.808,7.382A10.438,10.438,0,0,1,17.509,17.81Zm2.4-12.365a7.077,7.077,0,1,0,4.981-2.051A6.994,6.994,0,0,0,19.908,5.445ZM35.993,16.957a1.7,1.7,0,0,1,1.7-1.7,4.868,4.868,0,1,0,0-9.736,1.7,1.7,0,1,1,0-3.393,8.261,8.261,0,1,1,0,16.521A1.7,1.7,0,0,1,35.993,16.957ZM3.847,10.392a8.262,8.262,0,0,1,8.264-8.259,1.7,1.7,0,0,1,0,3.393,4.868,4.868,0,1,0,0,9.736,1.7,1.7,0,0,1,0,3.393A8.262,8.262,0,0,1,3.847,10.392Z"
                                    transform="translate(0)" fill="#fff" />
                            </svg>
                        </a></li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" width="27" style="    height: 38px;
                        width: 37px;" height="27" viewBox="0 0 36.015 36">
                            <g id="Chat" transform="translate(0.001)">
                                <path id="Chat-2" data-name="Chat"
                                    d="M9.306,32.984l-.08-.028a.03.03,0,0,1-.017-.02l-1.194-.677a1.312,1.312,0,0,0-.482-.095.813.813,0,0,0-.2.02,30.942,30.942,0,0,1-3.8,1.1L3.3,33.31l-.071,0a1.957,1.957,0,0,1-1.545-.621,2.408,2.408,0,0,1-.517-1.61l.035-.287a32.247,32.247,0,0,1,1.184-3.857.926.926,0,0,0-.076-.709L1.991,25.6A17.509,17.509,0,0,1,17.533,0H17.6A17.5,17.5,0,1,1,9.306,32.984Zm-.3-2.955c.161.077.365.187.647.345l.739.425.011,0,.5.255A15.1,15.1,0,0,0,27.05,29.131l.386-.328A15.06,15.06,0,0,0,17.584,2.441l-.491.006A15.055,15.055,0,0,0,4.159,24.479l.317.617A3.4,3.4,0,0,1,4.7,27.73a31.046,31.046,0,0,0-1.12,3.64l.164-.644.691-.181c.5-.139.969-.28,1.435-.435l.732-.252a3.579,3.579,0,0,1,.947-.128A3.821,3.821,0,0,1,9.007,30.029ZM23.359,17.5a2,2,0,1,1,2,2A2,2,0,0,1,23.359,17.5Zm-7.764,0a2,2,0,1,1,2,2A2,2,0,0,1,15.595,17.5Zm-7.764,0a2,2,0,1,1,2,2A2,2,0,0,1,7.83,17.5Z"
                                    transform="translate(0.5 0.5)" fill="#fff" stroke="#fff" stroke-width="1" />
                            </g>
                        </svg>
                    </li>
                    <li onclick="notification_opn()" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="32"
                            style="    height: 39px;
                    width: 39px;" viewBox="0 0 30.75 36">
                            <g id="Notification" transform="translate(0.5 0.5)">
                                <path id="Notification-2" data-name="Notification"
                                    d="M14.079,34.957A6.113,6.113,0,0,1,10,32.67a1.231,1.231,0,0,1,.191-1.715,1.2,1.2,0,0,1,1.695.194,3.7,3.7,0,0,0,2.474,1.383,3.745,3.745,0,0,0,2.759-.78,3.345,3.345,0,0,0,.622-.608,1.2,1.2,0,0,1,1.7-.186,1.231,1.231,0,0,1,.184,1.717A5.758,5.758,0,0,1,18.579,33.7a6.111,6.111,0,0,1-4.5,1.262ZM7.023,27.731a8.577,8.577,0,0,1-5.4-2.666A7.1,7.1,0,0,1,0,20.409l0-.416a7.166,7.166,0,0,1,1.169-3.578l.117-.151a6.752,6.752,0,0,0,1.625-3.186l-.027.107,0-.936.02-1.043c.016-.458.041-.873.074-1.265a10.467,10.467,0,0,1,3.9-7.094A12.478,12.478,0,0,1,14.813,0h.126a12.492,12.492,0,0,1,7.927,2.846,10.538,10.538,0,0,1,3.915,7.1c.03.346.044.663.049,1.132V12.26c0,.192,0,.364.008.539l.016.343.079.328a6.823,6.823,0,0,0,1.271,2.5l.263.31.109.139a7.074,7.074,0,0,1,1.175,3.63l0,.706a7.111,7.111,0,0,1-1.69,4.369,8.375,8.375,0,0,1-5.331,2.6,72.861,72.861,0,0,1-7.862.427A72.8,72.8,0,0,1,7.023,27.731Zm-3.9-9.882,0,0-.135.225a4.7,4.7,0,0,0-.548,1.643l-.03.334,0,.383a4.65,4.65,0,0,0,1.006,3A6.112,6.112,0,0,0,7.266,25.3a70.789,70.789,0,0,0,7.6.411,70.939,70.939,0,0,0,7.625-.413,6.01,6.01,0,0,0,3.775-1.8,4.666,4.666,0,0,0,1.073-3.1l0-.285a4.52,4.52,0,0,0-.761-2.315l.027.044-.241-.284a9.275,9.275,0,0,1-1.773-3.493l-.113-.484-.022-.162c-.019-.257-.028-.466-.033-.7l0-1.583c0-.4-.014-.668-.038-.958-.408-4.264-4.643-7.732-9.441-7.732h-.126c-4.8,0-9.028,3.463-9.423,7.721-.019.213-.035.447-.05.739l-.027.817L5.3,13.326l-.025.249a9.2,9.2,0,0,1-2.136,4.26h0Z"
                                    fill="#fff" stroke="#fff" stroke-width="1" />
                                    
                            </g>
                           
                           
                        </svg>
                        
                    </li>
                    <!-- <li><a href="/konnects"><i class="fa-solid fa-address-book"></i></a></li> -->

                    <div type="button" onclick="profile_opn()" class="profile_pic_btn">
                        <% if (profile){%>
                            <img src="<%= profile.profile_pic  ? profile.profile_pic : 'assets/img/avtar.png' %>"
                                alt="" class="profile-pic">
                            <%}%>

                            
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <style>
        .mob-pro-img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
        .mob-pro-img img{
            width: 100%;
            height: 100%;
            border-radius: 50px;
        }
    </style>

    <div class="mobile-navbar" id="mobile-navbar">
        <div class="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-nav">

                <i class="bi bi-x" onclick="close_mobile_menu()"></i>
                <div type="button" onclick="profile_opn()">
                    <% if (profile){%>
                        <div class="mob-pro-img">
                            <img src="<%= profile.profile_pic  ? profile.profile_pic : 'assets/img/avtar.png' %>"
                            alt="" class="profile-pic">
                        </div>
                        <%}%>
                        
                </div>
                <li><a href="/feed"><i class="fa-solid fa-house"></i><span>Home</span></a></li>
                <li><a href="/ommunities"><i class="fa-solid fa-users"></i><span>Konnects</span></a></li>
                <li><i class="fa-solid fa-comments"></i><span>Chat</span></li>
                <li><i class="fa-solid fa-bell"></i><span>Notification</span></li>
                <li><a href="/konnects"><i class="fa-solid fa-address-book"></i><span>Contact</span></a></li>


            </ul>
        </div>
    </div>

</header>


<!-- profile btn popup start-->
<div id="profile_opn">
    <div class="profile-btn-menu">
        <button type="button" class="btn-close btn-close1" onclick="profile_close()"></button>
        <div class="profile-btn-menu-r1">
            <div>
                <% if (profile){%>
                    <img src="<%= profile.profile_pic  ? profile.profile_pic : 'assets/img/avtar.png' %>"
                        alt="" class="profile-pic">
                    <%}%>
            </div>
            <div>
                <% if(username.length>0){%>
                    <h2>
                        <%=username%>
                    </h2>
                    <%}%>
                    <% if(profile){%>
                        <p>
                            <%=profile.degination%>
                        </p>
                        <%}%>
            </div>
           
        </div>
        <hr class="hr1">
        <div class="profile-btn-menu-r2">


            <h2>Account</h2>

            <a href="" style="text-decoration:none;">
                <p><i class="bi bi-award-fill"></i> Premium User</p>
            </a>

            <a href="myprofile" style="text-decoration:none;">
                <p><i class="bi bi-yin-yang"></i> About Us</p>
            </a>
            <a href="/premium_myaccount" style="text-decoration:none;">
                <p><i class="fa-solid fa-crown"></i> Membership</p>
            </a>
            <p><i class="bi bi-gear"></i> Settings & Privacy</p>

            <p><i class="bi bi-question-circle"> </i>Help</p>
            <p><i class="bi bi-translate"></i> Language</p>
        </div>
        <hr class="hr2">
        <!-- <div class="profile-btn-menu-r3">
            <h2>Manage</h2>
            <p><i class="bi bi-file-richtext"></i> <span>NGO:</span> Posts & Initiative</p>
            <p><i class="bi bi-hearts"></i>Smile India Foundation</p>
            <p><i class="fa-solid fa-people-group"></i><span>Commercial:</span> Real Estate</p>
        </div>
        <hr class="hr3"> -->
        <div class="profile-btn-menu-r3">
            <p><a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></p>
        </div>
    </div>

</div>
<!-- profile btn popup end-->

<!-- notification btn popup start-->
<div id="notification_opn" style="display: none">
    <div class="profile-btn-menu  profile-btn-menu1 profile-btn-menu2">
        <div class="profile-btn-menu-r1">
            <button type="button" class="btn-close btn-close2" onclick="notification_close()"></button>
        </div>
        <span class="notification-h">Notification</span>

        <hr style="height: 2px">

        <div class="row" id="notification-bar">
            
            <% if(notifications){ notifications.forEach(function(n,ni){%>
                <% if(n.action === 'pending') {%>
            <div class="col-3">

                <div class="notification-img">
                    <img src="<%= n.sender.profile_pic  %>" alt="">
                </div>
            </div>
            <div class="col-9">
                <div class="request">
                    <p> You are invited friend request by <span> <%= n.sender.fname + ' ' + n.sender.lname %> </span> </p>
                        <a href="/friend-response/?id=<%= n._id %>&action=accept">Accept</a>
                        <a href="/friend-response/?id=<%= n._id %>&action=reject">Decline</a>
                        <!-- <button class="btn">Accept</button>
                         <span> <button>Decline</button> </span> -->
           

                </div>
            </div>
            <%} else if(n.action === 'accept') {%>
                
                <%} %>
            <%})} %>

        </div>

    </div>


</div>
<!-- notification btn popup end-->

<script>
    // profile image - profile menu
    function profile_opn() {
        document.getElementById("profile_opn").style.display = "block";
    }

    function profile_close() {
        document.getElementById("profile_opn").style.display = "none";
    }


    function notification_opn() {
        document.getElementById("notification_opn").style.display = "block";
    }


    function notification_close() {
        document.getElementById("notification_opn").style.display = "none";
    }
</script>